@charset "UTF-8";

body {
	font-size: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background: #fdfdfd;
}

.centered {
	text-align: center;
}


a:link, a:visited, #addComp {
    background-color: #267ec1;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: darkred;
}

table, th, td {
	margin: auto;
}

select#ingredientDropdown {
	width: 20%;
}

table#recCompTable {
	width: 50%;
}

.lefttable{
	margin: 0;
}

.align3{
	border: 1px solid black;
	width: 33%;
}

#fullwidth{
	width: 100%;
}

#menu, #tilbage{
	text-align: left;
}

#menu a, #tilbage{
    background-color: #ff0000;
    padding: 2px 4px;
    margin: 2px;
    color: white;
    float: left;
    cursor: pointer;
    }

#maincontainer{
	
}
