@charset "UTF-8";

body {
	font-size: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background: #999;
	   
}

h1{
	text-align: center;
}

a:link, a:visited, #addComp {
    background-color: #267ec1;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: darkred;
}

table, th, td {
	text-align: center;
	margin: auto;
}

.lefttable{
	margin: 0;
}

.container{
	background-color: #888;
	width: 100%;
}

.align3{
	border: 1px solid black;
	width: 33%;
}

#fullwidth{
	width: 100%;
}

#menu a{
    background-color: #ff0000;
    padding: 2px 4px;
}


#maincontainer{
	
}


#adminlicense {
	text-align: center;
	
}



