@charset "UTF-8";

h1{
	text-align: center;
}

a:link, a:visited, #addComp {
    background-color: #267ec1;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: darkred;
}

table, th, td {
	text-align: center;
}

#menu a{
    background-color: #ff0000;
    padding: 2px 4px;
}


body {
	font-size: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background: url("dtu.bmp") no-repeat fixed top right;
   
}

#maincontainer{
	
}
